/* =============================================================================
           Xtra Lerge Disply
 ============================================================================= */
@media screen and (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}










/* =============================================================================
           Small Screen - Tablate/Others
 ============================================================================= */
@media screen and (min-width: 768px) and (max-width: 991px) {
	

		
	
	
	
	
	
	
	
	


}



/* =============================================================================
            Xtra Small Screen - Tablate
 ============================================================================= */
@media screen and (min-width: 480px) and (max-width: 767px) {	

	



















}





/* =============================================================================
            Xtra Small Screen - Mobile Phone
 ============================================================================= */
@media screen and (max-width: 479px) {

.element-item {
	border: 8px solid #fff;
	color: #262524;
	overflow: hidden;
	display: block;
	width: 100%;
}
.custom-css {
	top: 1430px !important;
}
.custom-css2 {
	top: 1990px !important;
}

	



























}